requests>=2.28.0
beautifulsoup4>=4.11.0
langchain>=0.0.267
langchain-core>=0.0.15
langchain-openai>=0.0.2
langchain-pinecone>=0.0.1
langchain-text-splitters>=0.0.1
openai>=1.1.0
pinecone-client>=2.2.2 